1)Find the minimum and maximum element in an array.

In [ ]:
arr=[1,3,4,5,10,11]
print("maximum:",max(arr))
print("minimum:",min(arr))

maximum: 11
minimum: 1

2)arr[] = {1,5,3,2}
Given a random set of numbers, print them in sorted order

In [ ]:
arr= {1,5,3,2}
print(sorted(arr))

[1, 2, 3, 5]

3)write a program to reverse the array

In [ ]:
arr=["apple","banana","cherry"]
arr.reverse()
print("reversed array:",arr)

reversed array: ['cherry', 'banana', 'apple']

4)Find the smallest and largest element In an array

In [ ]:
arr=[1,10,4,5,2,7,3,23,6]
small=min(arr)
large=max(arr)
print("small:",small)
print("large:",large)

small: 1
large: 23

5)create three arrays and find the common element in these array

In [ ]:
arr1=[1,2,5,6,7,9]
arr2=[3,6,2,8,4,5]
arr3=[6,5,9,2,3,1]
a=(set(arr1).intersection(arr2).intersection(arr3))
print("common elements:",list(a))

common elements: [2, 5, 6]

6)Find the factorial of a number using array

In [ ]:
def factorial(n):

    fact = 1

    for factor in range(1, n + 1):
        fact *= factor

    return fact
arr= [1, 2, 3, 4, 5]
factorial = [factorial(x) for x in arr]
print("factorial:",factorial)

factorial: [1, 2, 6, 24, 120]